.button {
  border: 0.1rem solid var(--black);
  background-color: transparent;
  color: var(--black);
  cursor: pointer;
  margin: 0.5rem 0;
  padding: 1rem;
}

.button:hover {
  background-color: var(--black);
  color: var(--white);
}

.button:disabled {
  cursor: not-allowed;
  background-color: var(--gray);
  color: var(--gray-dark);
  border-color: var(--gray-dark);
}